[Unit]
Description=Go Ethereum Client - Sepolia Testnet
After=network.target
Wants=network.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/geth \
  --sepolia \
  --authrpc.addr 0.0.0.0 \
  --authrpc.port 8551 \
  --authrpc.vhosts=* \
  --authrpc.jwtsecret /root/sepolia-node/data/jwtsecret \
  --http \
  --http.addr 0.0.0.0 \
  --http.port 8545 \
  --http.api eth,net,engine,admin,web3 \
  --http.corsdomain "*" \
  --ws \
  --ws.addr 0.0.0.0 \
  --ws.port 8546 \
  --ws.api eth,net,engine,admin,web3 \
  --syncmode "full" \
  --gcmode=full \
  --datadir /root/sepolia-node/data/geth \
  --verbosity 3
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=default.target
